//colors main
$white: #fff;
$black: #000;
$blue: #4990e2; //rgba(73, 144, 226, 1)
$bluesky: rgba(73, 144, 226, .1);
$green: #7ed224;
$greylight1: #fbfbfb; //loading... bg
$greylight2: #e1e1e1; //search
$greydark: #d8d8d8; //avatar_bg

$nav_active_a: #2e546b;
$nav_a: rgba(46, 84, 107, 0.4);
$links_a: $blue;
$nav_bg: #f5f5f5;
$sidebar_bg: rgba(245, 245, 245, 0.5);
$greylight_hr: #e2e2e2;

$text_mute: rgba(0, 0, 0, 0.5); //тот что темнее
$text_mute2: rgba(0, 0, 0, 0.58); // светлее
$text_mute3: rgba(0, 0, 0, 0.3); // самое светлое
$text_mute4: rgba(0, 0, 0, 0.2); // самое самое светлое

$logo_color: #d9e0e8;

$nav-events-color-text: $blue;
$nav-events-color-bg: $bluesky;
$sidebar-events-color-bg-active: $blue;
$sidebar-events-color-bg-active: $blue;
$sidebar-events-color-bg: $white;
$sidebar-events-text: $black;
$sidebar-events-text-active: $white;


$fontFmainRegular: 'Source Sans Pro', "Arial Narrow", sans-serif;
$fontFSemiBold: 'Source Sans Pro', Arial, sans-serif;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontlight: 300;

$nav-mobile-top: 64px;

$nav-panel-width: 280px;//for mobile
$nav-panel-width-desktop: 320px;//for desktop

$av-guest-width: 40px; //avatar of guest width/height>1200
$av-width: 36px; //avatar of the user width/height

$font_section_title: 1.5rem; //>1200px

$border-radius: 4px;

//к страницам с рабочим столом (для индекса.штмл отличается чем столі и заказы  todo проверить)

$av_waiters_bg: #f3f3f3; //todo not used on this page
$avatar_waiters_size: 35px; //todo not used on this page
$font_small_size: 14px;
$font_big_size: 18px;
$avatar_waiters_status: 8px; //todo not used on this page
$avatar_waiters_status_online: #73d600; //todo not used on this page
$avatar_waiters_status_offline: red; //todo not used on this page

//к истории активности посетителей !!!!!!!!только медиазапросах для десктопной версии !!!!!!
$title-guest-name-pl: 2.75rem;//отступ слева й колонка
$title-guest-name-pr: $title-guest-name-pl;//отступ слева й колонка
$title-guest-process-pl: 2.75rem;//отступ слева й колонка
$title-guest-process-pr: 1.15rem;//отступ слева й колонка
$title-guest-time-pl: 1.15rem;//отступ слева й колонка
$title-guest-time-pr: 1.15rem;//отступ слева й колонка


/*==========  Mobile First Method  ==========*/

/* xs - устройства (до 576px) */
/* CSS для ширины, которая меньше 575px (включительно) */

/* sm-устройства (больше или равно 576px) */
/*@media (min-width: 576px) {
  !* CSS для: 576px <= ширины <= 767px *!

}*/

/* xs - устройства (до 600px) */
/* CSS для ширины, которая меньше 599px (включительно) */

/* sm-устройства (больше или равно 600px) */
@media (min-width: 600px) {
  /* CSS для: 600px <= ширины <= 767px */
  .d-mobil-none {
    display: block;
  }

  .row {
    display: flex;
  }

  //sidbar tasks styling
  .tasks{
    ul li{
      //max-width: calc(#{$sidebar-width} - 4em);
      width: 100%;
    }}



  //calendar styling
  //styling callendar
  .title-section, .title-section.with_callendar,
  .link_full_history {

    position: relative!important;
  }

  #ui-datepicker-div{
    background-color: #fff;
    box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.06) !important;
    width: 300px;
    height: 260px;
    position: absolute;
    top: 35px !important;
    left: 125px !important;
    z-index: 90 !important;
    border-radius: 0;
    border: transparent;
    margin: 0px;
  }
  .hr-col{
    padding-left: $title-guest-process-pl;
    padding-right: $title-guest-name-pr;
  }
  .hr-col.-two{
    padding-left: $title-guest-process-pl;
    padding-right: $title-guest-time-pr;
  }
  .top-callendar-row{
    padding-left: $title-guest-process-pl;
    padding-right: $title-guest-time-pr;
  }
  .table-title .name,
  .main-table .name{
    position: relative;
    padding-left: $title-guest-name-pl;
    padding-right: $title-guest-name-pr;
  }
  .table-title .process,
  .main-table .process{
    padding-left: $title-guest-process-pl;
    padding-right: $title-guest-process-pr;
  }
  .table-title .time,
  .main-table .time{
    padding-left: $title-guest-time-pl;
    padding-right: $title-guest-time-pr;
  }
  .main-table {
    .avatar-guest {
      right: -$av-guest-width/2;
    }
}

  .main-table .item {
    .hr {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(66.66% - #{$title-guest-process-pr} - #{$title-guest-process-pl});
      margin: 0 $title-guest-process-pr;
    }

  }
  .main-table .item .sub-item.-info.active{
    display: flex!important;
    opacity: 1;
  }

  .bottom-paginator {
    font-size: 1.25rem;
    padding-left: $title-guest-name-pl;
    padding-right: $title-guest-time-pr;
  }


}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */

}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
  /* CSS для: 992px <= ширины <= 1119px */
  .d-mobil-block {
    display: none;
  }
  .for-mobile{
    display: none;
  }
  //show nav panel
  .st-effect-3.st-menu{
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0%, 0, 0);
  }
  .st-menu{
    visibility: visible;
    width: $nav-panel-width-desktop;
  }

  ///main section
  .st-content{
    width:calc(100% - #{$nav-panel-width-desktop});
    float: right;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
  /* CSS для: ширины >= 1200px */
.st-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

  .title-section, .title-section.with_callendar
   {
    font-size: $font_section_title;
  }
  .title-section .link_full_history{
    font-size: 18px;
}

  .main-table .avatar-guest {
      width: $av-guest-width;
    height: $av-guest-width;
  }

  .d-xl-block{
    display: block;
  }

  .sidebar .today-date {
    font-size: $font_section_title;
  }

  .sidebar .tasks_title {
    font-size: $font_section_title;}
}

//@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//  /* IE10+ CSS styles go here */
//}