

$nav_active_a: #15129d;
$nav_a: #a49fc8;
$links_a: #4c8dc3;
$nav_bg: #f5f5f5;
$greylight1: #fbfbfb;//loading... bg
$greylight2: #e1e1e1;
$greylight_hr: #e2e2e2;
$greydark: #d8d8d8;//avatar_bg
$text_mute: #7c7c7c;
$white: #fff;
$black: #000;
$blue: #4d8ee0;
$green: #7ed224;
$logo_color: #d9e0e8;

$fontFuturaC: FuturaBookC, "Arial Narrow", sans-serif;
$fontFuturaDemiC: FuturaDemiC, Arial, sans-serif;

$nav-mobile-top:64px;

$nav-panel-width: 280px;


/*==========  Mobile First Method  ==========*/

/* xs - устройства (до 576px) */
/* CSS для ширины, которая меньше 575px (включительно) */

/* sm-устройства (больше или равно 576px) */
/*@media (min-width: 576px) {
  !* CSS для: 576px <= ширины <= 767px *!

}*/

/* xs - устройства (до 600px) */
/* CSS для ширины, которая меньше 599px (включительно) */

/* sm-устройства (больше или равно 600px) */
@media (min-width: 600px) {
  /* CSS для: 600px <= ширины <= 767px */
  .d-mobil-none {
    display: block;
  }

  .row {
    display: flex;
  }
  .with_callendar{
    font-size:1.25em;}

}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */

}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
  /* CSS для: 992px <= ширины <= 1119px */
  .d-mobil-block {
    display: none;
  }
  .for-mobile{
    display: none;
  }
  //show nav panel
  .st-effect-3.st-menu{
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0%, 0, 0);
  }
  .st-menu{
    visibility: visible;
  }

  ///main section
  .st-content{
    width:calc(100% - #{$nav-panel-width});
    float: right;
  }
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
  /* CSS для: ширины >= 1200px */

}

//@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//  /* IE10+ CSS styles go here */
//}