//colors main
$white: #fff;
$black: #000;
$blue: #4990e2; //rgba(73, 144, 226, 1)
$bluesky: rgba(73, 144, 226, .1);
$green: #7ed224;
$greylight1: #fbfbfb; //loading... bg
$greylight2: #e1e1e1; //search
$greydark: #d8d8d8; //avatar_bg

$nav_active_a: #2e546b;
$nav_a: rgba(46, 84, 107, 0.4);
$links_a: $blue;
$nav_bg: #f5f5f5;
$sidebar_bg: rgba(245, 245, 245, 0.5);
$greylight_hr: #e2e2e2;

$text_mute: rgba(0, 0, 0, 0.5); //тот что темнее
$text_mute2: rgba(0, 0, 0, 0.58); // светлее
$text_mute3: rgba(0, 0, 0, 0.3); // самое светлое
$text_mute4: rgba(0, 0, 0, 0.2); // самое самое светлое

$logo_color: #d9e0e8;

$nav-events-color-text: $blue;
$nav-events-color-bg: $bluesky;
$sidebar-events-color-bg-active: $blue;
$sidebar-events-color-bg-active: $blue;
$sidebar-events-color-bg: $white;
$sidebar-events-text: $black;
$sidebar-events-text-active: $white;

$fontFmainRegular: 'Source Sans Pro', "Arial Narrow", sans-serif;
$fontFSemiBold: 'Source Sans Pro', Arial, sans-serif;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontlight: 300;

$nav-mobile-top: 64px;

$nav-panel-width: 280px;//for mobile
$nav-panel-width-desktop: 320px;//for desktop

$av-guest-width: 35px; //avatar of guest width/height<1200
$av-width: 36px; //avatar of the user width/height

$font_section_title: 1.25rem;

$border-radius: 4px;

//к страницам с рабочим столом (для индекса.штмл отличается чем столі и заказы  todo проверить)

$av_waiters_bg: #f3f3f3; //todo not used on this page
$avatar_waiters_size: 35px; //todo not used on this page
$font_small_size: 18px;
$font_big_size: 24px;
$avatar_waiters_status: 8px; //todo not used on this page
$avatar_waiters_status_online: #73d600; //todo not used on this page
$avatar_waiters_status_offline: red; //todo not used on this page

//к истории активности посетителей для мобильной версии
$title-guest-name-pl: 2rem; //отступ слева й колонка
$title-guest-name-pr: $title-guest-name-pl; //отступ слева й колонка
$title-guest-process-pl: 2rem; //отступ слева й колонка
$title-guest-process-pr: 2rem; //отступ слева й колонка
$title-guest-time-pl: 2rem; //отступ слева й колонка
$title-guest-time-pr: 2rem; //отступ слева й колонка

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
  flex-grow: 0;
  flex-shrink: 0;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;//ie10
  flex-basis: 100%;
}

.col-1 {
  flex-basis: 8.33%;
  width: 8.33%;//ie10
}

.col-2 {
  flex-basis: 16.66%;
  width: 16.66%;//ie10
}

.col-3 {
  flex-basis: 25%;
  width: 25%;//ie10
}

.col-4 {
  flex-basis: 33.33%;
  width: 33.33%;//ie10
}

.col-5 {
  flex-basis: 41.66%;
  width: 41.66%;//ie10
}

.col-6 {
  flex-basis: 50%;
  width: 50%;//ie10
}

.col-7 {
  flex-basis: 58.33%;
  width: 58.33%;//ie10
}

.col-8 {
  flex-basis: 66.66%;
  width: 66.66%;//ie10
}

.col-9 {
  flex-basis: 75%;
  width: 75%;//ie10
}

.col-10 {
  flex-basis: 83.33%;
  width: 83.33%;//ie10
}

.col-11 {
  flex-basis: 91.66%;
  width: 91.66%;//ie10
}

.col-12 {
  flex-basis: 100%;
  width: 100%;//ie10
}

.row {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
}

/////////////////////

* {
  box-sizing: border-box !important;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font: {
    size: 100%;
    family: $fontFmainRegular;
    weight: $fontRegular;
  }
  line-height: 1.2;
  background-color: $white;

}

.d-none {
  display: none !important;
}

.d-mobil-none {
  display: none;
}

.d-mobil-block {
  display: block;
}

.d-xl-block {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: hidden; //IE10
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $links_a;
}

a:focus, button:focus {
  outline: none;
}

a:focus,
a:hover {
  color: blue;
}

header {
  min-height: 60px;
}

/////////////
//mobil horizontal nav panel
.nav-mobile-top {
  width: 100%;
  height: $nav-mobile-top;
  padding: 0.25em 0.5em;
  background-color: $nav_bg;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  z-index: 95;
  .logo img {
    height: calc(#{$nav-mobile-top} - 4px);
  }
}

///fabar icon block start
.fabar {
  outline: none;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 18px 0;
  border: transparent;
}

.fabar.active > .icon {
  background-color: transparent;
}

.fabar > .icon, .fabar > .icon:before, .fabar > .icon:after {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: $logo_color;
}

.fabar > .icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.fabar > .icon:before, .fabar > .icon:after {
  position: absolute;
  content: '';
}

.fabar.active > .icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.fabar > .icon:before {
  top: -8px;
}

.fabar.active > .icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.fabar > .icon:after {
  top: 8px;
}

////fabar icon block end

//main section
//history full

//todo ОБЩИЙ КОД НА ВСЕ
.for-mobile {
  width: 100%;
  height: $nav-mobile-top; //убрал паддинг из калька потому что убрал паддинги в общем для майдбара
  background-color: transparent;
}

//navigation panel restyle
//left nav panel
.st-menu {
  display: flex;
  flex-direction: column;

  padding: 1.35em 1.35em 1.35em 2.4em;
  width: $nav-panel-width;
  overflow-y: auto;
  background: $nav_bg;
  .logo {
    margin-top: 1em;
    margin-bottom: 3em;
  }
  /*  .logo svg {
      height: 40px;
      width: 40px;
    }*/
  .logo img {
    margin-left: -1em;
  }
  .user {
    color: $black;
    margin-bottom: 3em;

    .user-name {
      line-height: $av-width;
      color: $black;
      float: left;
      width: calc(100% - #{$av-width});
      font-size: 1.25rem;

      span {
        float: right;
        margin-right: 1em;
      }
    }
    .avatar {
      display: block;
      float: right;
      //margin-right: 0.75em;
      border-radius: 50%;

      width: $av-width;
      height: $av-width;
      background-color: $greydark;
    }

    svg {
      color: $text_mute;
      padding-top: 1px;
      width: 10px;
      height: 15px;
    }
  }
}

.st-menu ul li a,
.st-menu ul li:first-child a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.st-menu ul li a {
  font-size: 1.125rem;
  font-family: $fontFmainRegular;
  color: $nav_a;
  text-transform: inherit;
  padding: 0.6em 0;
  letter-spacing: 0;
  font-weight: $fontRegular;
}

.st-menu ul li a:hover,
.st-menu ul li a:active,
.st-menu ul li a:focus,
.st-menu ul li a.active {
  color: $nav_active_a;
  font-family: $fontFSemiBold;
  font-weight: $fontSemiBold;
  background-color: transparent;
}

.st-menu .notification {
  margin-left: 1em;
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 14px;
  border-radius: $border-radius;
  text-align: center;
}

.st-menu li.obzor,
.st-menu .callendar,
.st-menu .chat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.st-menu .chat {
  justify-content: space-between;
  margin-right: 0.5em;
}

.st-menu li.obzor a {
  width: 60px;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: $border-radius;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.st-menu .input-group {
  margin-top: 30px;
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;

  background-color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .input-group-append {
    margin-left: -40px;
    display: flex;
    .btn-nav-search {
      width: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      z-index: 2;
      color: rgba(151, 151, 151, 0.2);
      background-color: transparent;
      background-image: none;
      padding: 7px 8px 0;
    }
    .btn-nav-search:hover {
      color: rgba(151, 151, 151, 1);
    }
  }
}

.st-menu .navbar-task {
  background-color: $nav-events-color-bg;
  color: $nav-events-color-text;
  width: 66px;
}

.st-menu .chat-events {
  background-color: $nav-events-color-bg;
  color: $nav-events-color-text;
}

.st-menu .navbar-calendar-events {
  background-color: $blue;
  color: $white;
}

.st-menu .nav-bottom {
  margin-top: auto;
  ul {
    justify-content: flex-start;
    align-items: center;
    & li:first-child {
      color: $nav_active_a;
      margin-right: 1em;
    }
    & li:last-child {
      margin-left: auto;
    }
    & li:last-child:hover svg {
      color: $greydark/2;
    }
    .circle {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
      span.number {
        color: $white;
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 0.5;
        position: relative;
        left: -1px;
      }
    }
    .circle-blue {
      background-color: $blue;
    }
    .circle-green {
      background-color: $green;
    }
  }
  svg {
    width: 20px;
    color: $greylight2;
  }
  .row {
    display: flex;
  }
}

.st-effect-3.st-menu-open .st-pusher {
  -webkit-transform: translate3d(#{$nav-panel-width}, 0, 0);
  transform: translate3d(#{$nav-panel-width}, 0, 0);
}

.st-menu-open .st-pusher::after {
  z-index: 99;
}

////////////////
//контент справа

//todo Общий для всех сайдабар?
//псевдо сайдбар
.st-content-inner .psevdosidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  .bg-sidebar {
    background-color: $sidebar_bg;
  }
}

//конец псевдосайдбара

//todo общий для всех настройки
//рестайлинг основного контента
.st-content {
  overflow-y: scroll;
  //background: $white; //не нужно для псевдосайдбара
  background: transparent; // нужно для псевдосайдбара
}

.st-content, .st-content-inner {
  position: relative;
  //padding: 1em; //избаляемся ради псевдойдбара
  padding: 0; //для псевдойдбара
  line-height: 1.2;
}

//end of restyling content

.table-title .name,
.main-table .name {
  position: relative;
  padding-left: $title-guest-name-pl;
  padding-right: $title-guest-name-pr;
}

.table-title .process,
.main-table .process {
  padding-left: $title-guest-process-pl;
  padding-right: $title-guest-process-pr;
}

.table-title .time,
.main-table .time {
  padding-left: $title-guest-time-pl;
  padding-right: $title-guest-time-pr;
  text-align: right;
}
.table-title .time{
  font-size: 14px;
}
.main-table {

  .item {
    position: relative;
    $padding_margin: 0.75em;
    //border-top: 1px solid $greylight_hr;
    padding-top: $padding_margin;
    margin-top: $padding_margin;
    .hr {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - #{$title-guest-process-pr} - #{$title-guest-process-pl});
      margin: 0 $title-guest-process-pr;

    }
  }

  .item:first-child .hr{
    display: none;
  }
  .sub-item {
    margin-top: 0.75em;
  }
  .avatar-guest {
    display: block;
    position: absolute;
    right: 2em;
    //margin-right: 0.75em;
    border-radius: 50%;

    width: $av-guest-width;
    height: $av-guest-width;
    background-color: $greydark;
  }
  .name-guest {
    font-size: 1.125rem;
    font-weight: $fontRegular;
    font-family: $fontFmainRegular;
  }
  .email-guest{
    font-size: 0.875rem;
  }
  .email-guest a {
    color: $text_mute;
  }
  .process {
    //margin: auto;
    font-weight: $fontRegular;
    font-family: $fontFmainRegular;

  }
  .time {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0 auto;
    text-align: right;
  }
  /*.process, .time {
    ul {
      padding-top: 0.5em;
    }
    ul li:first-child {
      margin-top: 0;
    }
    ul li {
      margin-top: 2em;
    }*/
  .process, .time {
      padding-top: 0.5em;

  }
  .item.-info-block .main-item .process .li{
    transition: all 0.3s ease-out;
    font-size: 20px;
  }
  .item .sub-item.-info{
    transition:all 0.3s ease-out;
    display: none;
    opacity: 0;

  }
  .item .sub-item.-info.active{
    display: block!important;
    opacity: 1;

  }
  .sub-item.-info{
    .li.-action-links{
      margin-top: 30px;
    }
    .action{
      display: inline-block;
      margin-top: 10px;
    }
    .action.-second{
      margin-left: 1em;
    }
  }
}

.table-title {
  .name, .process, .time {
    color: $text_mute;
    font-size: 14px;
  }
  margin-bottom: 1em;
}

.history-wrapper {
  width: 100%;
  padding: 2em 0;
}

.top-callendar {
  font-size: $font_section_title;
  align-items: baseline;
  //justify-content: space-between;
}

.title-section, .title-section.with_callendar,
.link_full_history {
  font-size: 18px;
  margin-bottom: 0.75em;
  //position: relative;
}
.link_full_history{
  font-size: 16px;
}

.with_callendar {
  strong {
    font-weight: $fontSemiBold;
    .callendar-dropdown {
      font-family: $fontFSemiBold;
    }
    color: $links_a;
  }
  .date {
    font-weight: $fontRegular;
    font-family: $fontFmainRegular;
    margin-left: 0.5em;
    color: $text_mute;
  }
  svg {
    opacity: 0.3;
    position: relative;
    width: 7px;
    height: 11px;
  }
  .ui-datepicker-trigger {
    background-color: transparent;
    border: none;
    color: $links_a;
  }
}

.top-callendar-row {
  justify-content: space-between;
  padding-left: $title-guest-process-pl;
  padding-right: $title-guest-time-pr;
  margin-bottom: 1em;
}

//todo стили календаря
//styling callendar
#ui-datepicker-div {
  background-color: #fff;
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.06) !important;
  width: 300px;
  height: 250px;
  position: absolute;

  top: 50% !important;
  left: 50% !important;
  margin-top: 153px;
  margin-left: -150px;
  z-index: 90 !important;
  border-radius: 0;
  border: transparent;
}

#ui-datepicker-div:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 22%;
  top: -38px;
  border: 25px solid transparent;
  border-bottom: 18px solid #fff;
  border-collapse: inherit;
  transform-origin: 0 0;
}

.ui-datepicker {
  padding: 0.8em;
}

.ui-datepicker td {
  padding: 0;
}

#ui-datepicker-div > table > thead {
  display: none;
}

#ui-datepicker-div tbody a {
  text-align: center !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 24px;
  font-family: $fontFmainRegular;
  color: $text_mute;
  margin: auto;
}

#ui-datepicker-div a.ui-state-default {
  background-color: $white;
  border-color: transparent;
}

#ui-datepicker-div a.ui-state-default.ui-priority-secondary {
  color: $text_mute3;
  opacity: 1;
}

#ui-datepicker-div a.ui-state-default.ui-state-highlight {
  color: $white;
  background-color: #7397f7;
  border: 1px solid #7397f7;
}

#ui-datepicker-div a.ui-state-default.ui-state-active,
#ui-datepicker-div a.ui-state-default.ui-state-hover {
  color: $white;
  background-color: #3f67f7;
  border: 1px solid #3f67f7;
}

.ui-datepicker-year {
  display: none;
}

.ui-icon {
  width: 40px;
  height: 18px;
}

.ui-widget-header .ui-icon,
.ui-widget-content .ui-icon {
  background: transparent;
}

.ui-datepicker .ui-datepicker-next span {
  text-align: right;
  padding-right: 10px;
}

.ui-datepicker .ui-datepicker-prev span {
  text-align: left;
  padding-left: 10px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  text-indent: 0 !important;
  color: $links_a !important;
  height: 100%;
  width: 100%;
  left: 0;
  margin-left: 0;
  top: 0;
  margin-top: 0;

}

.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  line-height: 35px;
  font-size: 1em;
  font-weight: $fontRegular;
  font-family: $fontFmainRegular !important;
}

.ui-datepicker .ui-datepicker-header {
  background-color: $white;
  border-color: transparent;
}

.ui-datepicker-prev:hover span,
.ui-datepicker-next:hover span {
  color: #3f67f7 !important;
  font-family: $fontFmainRegular !important;
  font-weight: $fontRegular;

}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.ui-widget-header .ui-state-hover {
  background-color: transparent !important;
  cursor: pointer;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  border: transparent;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  display: block;
  top: 4px;
  width: 85px;
  height: 40px;
}

// end callendsar restyling

.loading-div {
  width: 100%;
  height: auto;
  min-height: 60px;
  background-color: $greylight1;
  margin-top: 1em;
  position: relative;
  &:before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 30%;
    top: -35px; /* Положение треугольника */
    border: 18px solid transparent; /* Прозрачные границы */
    border-bottom: 18px solid $greylight1; /* Добавляем треугольник */
  }
  .loading-text {
    $loading-text-fz: 0.75em;
    color: $text_mute;
    font-size: $loading-text-fz;
    margin: auto;
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    transform: translateY(calc(100% + #{$loading-text-fz}));
  }
}

.bottom-paginator {

  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 3.5em;
  padding-bottom: 2em;
  font-weight: $fontRegular;
  font-family: $fontFmainRegular;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: $title-guest-name-pl;
  padding-right: $title-guest-time-pr;
  a.load-more {
    margin-left: auto;
    margin-right: auto;
  }
}

//.paginator {
//  display: flex;
//  flex-direction: row;
//  align-items: stretch;
//  li {
//    width: 1.25em;
//    text-align: center;
//
//    a.active {
//      color: $black;
//    }
//
//  }
//}

//todo Стили для index.html
//tasks
.sidebar {
  padding: 2em;

}

.sidebar .today-date {
  font-family: $fontFmainRegular;
  font-size: 18px;
  font-weight: $fontRegular;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $black;
}

.sidebar .tasks_title {
  font-family: $fontFSemiBold;
  font-size: 18px;
  font-weight: $fontSemiBold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-top: 2em;
  margin-bottom: 1.75em;

  a {
    color: $links_a;
  }
}

.tasks {
  ul li {
    min-width: 150px;
    width: 100%;
    min-height: 60px;
    height: auto;
    border-radius: 3px;
    background-color: $sidebar-events-color-bg;
    padding: 1em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 30px 3px rgba(40, 66, 116, 0.08);

    &.active {
      background-color: $sidebar-events-color-bg-active;
      color: $sidebar-events-text-active;
      .text-info {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .task-title {
    font-family: $fontFmainRegular;
    font-size: 18px;
    font-weight: $fontRegular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $sidebar-events-text;

  }
  .task-info {
    font-family: $fontFmainRegular;
    font-size: 14px;
    font-weight: $fontRegular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $text_mute2;
    a.open {
      color: $links_a;
    }
    a.close {
      color: #b7cde8;
      margin-left: 1em;
    }
  }
}
.tasks ul>li.active .task-title{
  color: $sidebar-events-text-active;
}
.tasks ul>li.active .task-info{
  color: rgba(255,255,255,0.4);
}


//todo возможно!! общие сьтили dashboard

.dashboard .top {
  background-color: transparent;
  padding: 1em 2em;
  .row {
    display: flex;
  }
  .row.dashboard-containers {
    //padding: 2em;
    flex-grow: 0;
    flex-wrap: wrap;

    .col {
      width: 110px;
      flex-basis: 110px;
    }
  }
  .row.dashboard-container {
    align-items: center;
    margin-top: 1em;
  }
  .info {
    color: $black;
  }
  .info.big-text {

    font-family: $fontFSemiBold;
    font-size: $font_big_size;
  }
  .info.small-text {
    font-family: $fontFmainRegular;
    font-size: $font_small_size;
    //margin-bottom: 1em;
  }
  .total_number {
    font-size: $font_big_size;
    color: $text_mute4;
    &:before {
      content: '/';
    }
  }

  .graf {
    margin-left: 5px;
  }
}

// end of stling dashboard-top

/////////
//shedule section styling
.hr { /*todo общий стиль для всех черт*/
  width: 100%;
  height: 1px;
  opacity: 0.1;
  border: solid 0.5px #979797;
}

.hr-col {
  padding-left: $title-guest-process-pl;
  padding-right: $title-guest-name-pr;
}

.hr-col.-two {
  padding-left: $title-guest-process-pl;
  padding-right: $title-guest-time-pr;
}

.btn-outline { //todo общий стиль для всех outline buttons
  background-color: transparent;
  border: solid 0.5px rgba(151, 151, 151, .22);;
  color: $blue;
  font-family: $fontFmainRegular;
  font-weight: $fontRegular;
  font-size: 1rem;
  &:hover, &:focus {
    color: blue;
    border-color: rgba(151, 151, 151, 1);
  }
}

///////
.not-dot {
  position: absolute;
  vertical-align: middle;
  z-index: 16;
  top: 20%;
  .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  &.blue .circle {
    background-color: $blue;
  }
  &.violet .circle {
    background-color: #9012fe;
  }

  .dot-info {
    display: inline-block;
    font-size: 9px;
    color: $black;
    text-wrap: none;
    margin-left: 1em;
  }

}

.schedule {
  padding: 1em 2em;
}

.schedule-nav {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: $black;
  font-family: $fontFmainRegular;
  font-weight: $fontRegular;
  font-size: 16px;
  p {
    margin-right: 1em;
    width: auto;
    flex-basis: auto;
  }
  a.schedule-link {
    width: auto;
    flex-basis: auto;
    margin-right: auto;
    background-image: url(../img/underline.PNG);
    background-repeat: repeat-x;
    background-position: 0 1.1em;
  }
  .btn-full-schedule {
    //margin-left: auto;
    width: auto;
    flex-basis: auto;
  }
}

.schedule-container {
  height: 320px;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  overflow-x: auto;
  .schedule-vue {
    width: 100%;
    min-width: 450px;
    overflow: hidden;
    height: 100%;
    position: relative;
    //border: 1px solid black;
    z-index: 10;
  }
}

.time-line-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  //border: 1px solid blue;
  z-index: 12;
  .time-line .line {
    width: 1.1px;
    height: 155px;
    opacity: 0.2;
    border: solid 0.5px #979797;
    margin: auto;
  }
  .time-line {
    width: 30px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
  }
  .time {
    font-family: $fontFmainRegular;
    font-size: 10px;
    font-weight: $fontRegular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
  }
}

.time-line-container.-hover {
  position: absolute;
  top: 0;
  left: 0;
  //border: 1px solid red;

  z-index: 14;
  .time-line.-hover {
    margin-top: -120px;
  }
  .time-line.-hover .line {
    width: 1.7px;
    height: 180px;
    opacity: 0.3;
    border: solid 1.5px $blue;
  }

  .time {
    color: $text_mute3;
  }
}

.scheduled-task {
  position: absolute;
  z-index: 16;
  min-height: 24px;
  height: auto;
  border-radius: 12px;
  text-align: center;
  padding: 6px;
  top: 50px;
  a {
    font-size: 11px;
    color: $black;
    display: block;
    width: 100%;
  }
  &.blue {
    background-color: rgba(73, 144, 226, 0.2);;
  }
  &.yellow {
    background-color: rgba(248, 232, 28, 0.2);;
  }
  $firstlevel: 32%;
  &.first-level {
    top: $firstlevel;
  }
  &.second-level {
    top: calc(#{$firstlevel} + 25px + 18px);
  }
  &.third-level {
    top: calc(#{$firstlevel} + 25px + 18px + 25px + 18px);
  }

  .tip {
    position: absolute;
    top: 40px;
    right: 13%;
    min-width: 215px;
    min-height: 90px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.06);
    z-index: 20;
    &:before {
      content: '';
      position: absolute;
      top: -11px;
      right: 16%;
      width: 25px;
      height: 25px;
      transform: rotate(28deg) skewX(-32deg);
      background: #fff;
      z-index: 21;
      box-shadow: -4px -4px 15px 2px rgba(0, 0, 0, 0.06);
    }
  }
}

.tip-container {
  position: relative;
  background-color: #fff;
  z-index: 22;
  width: 100%;
  height: 100%;
  padding: 1em;
  .title {
    font-size: 11px;
    text-align: left;
    width: calc(100% - 30px);
  }
  .time {
    text-align: left;
    color: $text_mute4;
  }
  .title a {
    color: $links_a;
  }
  .title a:hover {
    color: blue;
  }
  .bottom-info {
    text-align: left;
    margin-top: 1.25em;
  }
  .bottom-info > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    text-align: left;
    &.status {
      color: $text_mute4;
      margin-left: 2em;
    }
    &.participant {
    }

  }
  .pick-color-group {
    position: absolute;
    right: 1em;
    top: 1em;
    display: inline-block;
    svg {
      width: 8px;
      color: rgba(0, 0, 0, 0.1);
    }
  }
  .task-color {
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 0.5px #d5c092;
    padding: 0;
    display: inline-block;
    margin-left: 5px;
  }
}

.scheduled-task.blue .pick-color-group .task-color {
  background-color: #4990e2;
}

.scheduled-task.yellow .pick-color-group .task-color {
  background-color: #fefad2;
}

//notes


.notes {
  padding: 1em 2em;
  font-size: 16px;
  .title {
    font-size: 18px;
    margin-bottom: 1em;
  }
  .сustom-checkbox {
    position: relative;
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    .custom-control-input {
      position: absolute;
      z-index: -1;
      opacity: 1;
      display: none; //other
    }

  }
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    font-size: inherit;
    span {
      color: $text_mute4;
      margin-right: 1em;
    }

    &:after {
      position: absolute;
      top: 1px;
      left: -22px;
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}
.checkboxes-container,
.btn-add-notification{
  margin-left: 1rem;
}

.custom-control-label:before {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: absolute;
  top: 3px;
  left: -25px;
  display: block;
  width: 12px;
  height: 12px;
  pointer-events: none;
  content: "";
  user-select: none;
  background-color: rgba(155, 155, 155, .2);
}

input[type="checkbox"]:checked + label.custom-control-label:before {
  background-color: rgba(126, 211, 33, .1);;
}

input[type="checkbox"]:checked + .custom-control-label:after {
  background-image: url("../img/check.PNG");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

input[type="checkbox"]:checked + .custom-control-label {
  color: $text_mute3;
}
input[type="checkbox"]:checked + .custom-control-label + .not-dot {
  background-color: transparent;
}

.notification-group {
  position: relative;
  margin-bottom: 0.7em;
  .not-dot {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: 0.5em;
    &.blue {
      background-color: $blue;
    }
    &.violet {
      background-color: #9012fe;
    }
    &.black {
      background-color: #000;
    }

  }
}

