//colors main
$white: #fff;
$black: #000;
$blue: #4990e2;//rgba(73, 144, 226, 1)
$bluesky: rgba(73, 144, 226, .1);
$green: #7ed224;
$greylight1: #fbfbfb; //loading... bg
$greylight2: #e1e1e1; //search
$greydark: #d8d8d8; //avatar_bg

$nav_active_a: #2e546b;
$nav_a: rgba(46,84,107,0.4);
$links_a: $blue;
$nav_bg: #f5f5f5;
$sidebar_bg: rgba(245,245,245,.3);
$greylight_hr: #e2e2e2;

$text_mute: rgba(0,0,0,0.5);//тот что темнее
$text_mute2: rgba(0,0,0,0.58);// светлее
$text_mute3: rgba(0,0,0,0.3);// самое светлое

$logo_color: #d9e0e8;

$nav-events-color-text: $blue;
$nav-events-color-bg: $bluesky;
$sidebar-events-color-bg-active: $blue;
$sidebar-events-color-bg: $white;
$sidebar-events-text: $black;
$sidebar-events-text-active: $white;


$fontFmainRegular: 'Source Sans Pro', "Arial Narrow", sans-serif;
$fontFSemiBold: 'Source Sans Pro', Arial, sans-serif;
$fontRegular: 400;
$fontSemiBold:600;
$fontBold:700;
$fontlight:300;

$nav-mobile-top: 64px;

$nav-panel-width: 280px;

$av-guest-width: 35px; //avatar of guest width/height
$av-width: 35px; //avatar of the user width/height

$font_section_title: 1.25rem;

$border-radius: 3px;

//к страницам с рабочим столом

$av_waiters_bg: #f3f3f3;
$avatar_waiters_size: 35px;
$font_small_size: 18px;
$font_big_size: 30px;
$avatar_waiters_status: 8px;
$avatar_waiters_status_online: #73d600;
$avatar_waiters_status_offline: red;

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
  flex-grow: 0;
  flex-shrink: 0;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

.row {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
}

/////////////////////

* {
  box-sizing: border-box !important;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font: {
    size: 100%;
    family: $fontFmainRegular;
    weight: $fontRegular;
  }
  line-height: 1.2;
  background-color: $white;

}

.d-none {
  display: none;
}

.d-mobil-none {
  display: none;
}

.d-mobil-block {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: hidden; //IE10
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $links_a;
}

a:focus, button:focus {
  outline: none;
}

header {
  min-height: 60px;
}

/////////////
//mobil horizontal nav panel
.nav-mobile-top {
  width: 100%;
  height: $nav-mobile-top;
  padding: 0.25em 0.5em;
  background-color: $nav_bg;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  z-index: 95;
  .logo img{
    height: calc(#{$nav-mobile-top} - 4px);
  }
}

///fabar icon block start
.fabar {
  outline: none;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 18px 0;
  border: transparent;
}

.fabar.active > .icon {
  background-color: transparent;
}

.fabar > .icon, .fabar > .icon:before, .fabar > .icon:after {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: $logo_color;
}

.fabar > .icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.fabar > .icon:before, .fabar > .icon:after {
  position: absolute;
  content: '';
}

.fabar.active > .icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.fabar > .icon:before {
  top: -8px;
}

.fabar.active > .icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.fabar > .icon:after {
  top: 8px;
}

////fabar icon block end

//main section
//history full
.for-mobile {
  width: 100%;
  height: calc(#{$nav-mobile-top} - 1em);
  background-color: transparent;
}

//navigation panel restyle
//left nav panel
.st-menu {
  display: flex;
  flex-direction: column;

  padding: 1.35em 1.35em 1.35em 2.4em;
  width: $nav-panel-width;
  overflow-y: auto;
  background: $nav_bg;
  .logo {
    margin-top: 1em;
    margin-bottom: 3em;
  }
/*  .logo svg {
    height: 40px;
    width: 40px;
  }*/
  .logo img{
    margin-left: -1em;
  }
  .user {
    color: $black;
    margin-bottom: 3em;

    .user-name {
      line-height: $av-width;
      color: $black;
      float: left;
      width: calc(100% - #{$av-width});

      span {
        float: right;
        margin-right: 1em;
      }
    }
    .avatar {
      display: block;
      float: right;
      //margin-right: 0.75em;
      border-radius: 50%;

      width: $av-width;
      height: $av-width;
      background-color: $greydark;
    }

    svg {
      color: $text_mute;
      padding-top: 1px;
      width: 8px;
    }
  }
}


.st-menu ul li a,
.st-menu ul li:first-child a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.st-menu ul li a {
  font-family: $fontFmainRegular;
  color: $nav_a;
  text-transform: inherit;
  padding: 0.6em 0;
  letter-spacing: 0;
  font-weight: $fontRegular;
}

.st-menu ul li a:hover,
.st-menu ul li a:active,
.st-menu ul li a:focus,
.st-menu ul li a.active {
  color: $nav_active_a;
  font-family:$fontFSemiBold;
  font-weight:$fontSemiBold;
  background-color: transparent;
}
.st-menu .notification{
  margin-left: 1em;
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 14px;
  border-radius: $border-radius;
  text-align: center;
}
.st-menu li.obzor,
.st-menu .callendar,
.st-menu .chat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.st-menu .chat{
  justify-content: space-between;
  margin-right: 0.5em;
}

.st-menu li.obzor a{
  width: 60px;
}
.btn{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: $border-radius;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.st-menu .input-group{
  margin-top: 30px;
  position: relative;
  width: 100%;

  background-color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  .form-control{
    display: block;
    width: 100%;
    height: 40px;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .input-group-append{
    margin-left: -1px;
    display: flex;
    .btn-nav-search{
      width: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      z-index: 2;
      color:  rgba(151, 151, 151, 0.2);
      background-color: transparent;
      background-image: none;
      padding: 7px 8px 0;
    }
    .btn-nav-search:hover{
    color: rgba(151, 151, 151, 1);
    }
  }
  }

.st-menu .navbar-task{
  background-color: $nav-events-color-bg;
  color: $nav-events-color-text;
  width: 66px;
}
.st-menu .chat-events{
  background-color: $nav-events-color-bg;
  color: $nav-events-color-text;
}

.st-menu .navbar-calendar-events{
  background-color: $blue;
  color: $white;
}


.st-menu .nav-bottom {
  margin-top: auto;
  ul {
    justify-content: flex-start;
    align-items: center;
    & li:first-child {
      color: $nav_active_a;
      margin-right: 1em;
    }
    & li:last-child {
      margin-left: auto;
    }
    & li:last-child:hover svg {
      color: $greydark/2;
    }
    .circle {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
      span.number {
        color: $white;
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 0.5;
        position: relative;
        left: -1px;
      }
    }
    .circle-blue {
      background-color: $blue;
    }
    .circle-green {
      background-color: $green;
    }
  }
  svg {
    width: 20px;
    color: $greylight2;
  }
  .row {
    display: flex;
  }
}

.st-effect-3.st-menu-open .st-pusher {
  -webkit-transform: translate3d(#{$nav-panel-width}, 0, 0);
  transform: translate3d(#{$nav-panel-width}, 0, 0);
}

.st-menu-open .st-pusher::after {
  z-index: 99;
}

.st-content {
  overflow-y: scroll;
  background: $white;
}

.st-content, .st-content-inner {
  position: relative;
  padding: 1em;
  line-height: 1.2;
}

.main-table {
  .item {
    $padding_margin: 0.75em;
    border-top: 1px solid $greylight_hr;
    padding-top: $padding_margin;
    margin-top: $padding_margin;

  }
  .avatar-guest {
    display: block;
    float: left;
    margin-right: 0.75em;
    border-radius: 50%;

    width: $av-guest-width;
    height: $av-guest-width;
    background-color: $greydark;
  }
  .name-guest {
    font-weight: $fontSemiBold;
    font-family: $fontFSemiBold;
  }
  .email-guest a {
    color: $text_mute;
  }
  .process {
    margin: auto;
    font-weight: $fontSemiBold;
    font-family: $fontFSemiBold;
  }
}

.time {
  margin: auto;
  text-align: right;
}

.table-title {
  .name, .process, .time {
    color: $text_mute;
  }
  margin-bottom: 1em;
}

.top-callendar {
  font-size: $font_section_title;
  align-items: baseline;
  justify-content: space-between;
}

.with_callendar,
.link_full_history {
  margin-bottom: 0.75em;
  //position: relative;
}

.with_callendar {
  font-size: 1.0em;
  strong {
    font-weight: $fontSemiBold;
  .callendar-dropdown {
    font-family: $fontFSemiBold;
  }
    color: $links_a;
  }
  .date {
    font-weight: $fontRegular;
    font-family: $fontFmainRegular;
    margin-left: 0.5em;
    color: $text_mute;
  }
  svg {
    position: relative;
    width: 7px;
  }
  .ui-datepicker-trigger{
    background-color: transparent;
    border:none;
    color: $links_a;
  }
}
//styling callendar
#ui-datepicker-div{
  background-color: #fff;
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.06) !important;
  width: 300px;
  height: 260px;
  position: absolute;

  top: 50%!important;
  left:50% !important;
  margin-top: 153px;
  margin-left: -150px;
  z-index: 90 !important;
  border-radius: 0;
  border: transparent;
}
#ui-datepicker-div:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 22%;
  top: -38px;
  border: 25px solid transparent;
  border-bottom: 18px solid #fff;
  border-collapse: inherit;
  transform-origin: 0 0;
}
.ui-datepicker{
  padding: 0.8em;
}
.ui-datepicker td{
  padding: 0;
}
#ui-datepicker-div > table > thead{
  display: none;
}
#ui-datepicker-div tbody a {
  text-align: center !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 24px;
  font-family: $fontFmainRegular;
  color: $text_mute;
  margin: auto;
}
#ui-datepicker-div a.ui-state-default{
  background-color: $white;
  border-color: transparent;
}
#ui-datepicker-div a.ui-state-default.ui-priority-secondary{
  color: $text_mute2;
  opacity: 1;
}
#ui-datepicker-div a.ui-state-default.ui-state-highlight{
  color: $white;
  background-color: #7397f7;
  border:1px solid #7397f7;
}
#ui-datepicker-div a.ui-state-default.ui-state-active,
#ui-datepicker-div a.ui-state-default.ui-state-hover{
  color: $white;
  background-color: #3f67f7;
  border:1px solid #3f67f7;
}
.ui-datepicker-year{
  display: none;
}

.ui-icon{
  width: 40px;
  height: 18px;
}
.ui-widget-header .ui-icon,
.ui-widget-content .ui-icon{
  background: transparent;
}
.ui-datepicker .ui-datepicker-next span{
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev span{
  text-align: left;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  text-indent:0!important;
  color: $links_a!important;
  height: 100%;
  width: 100%;
  left: 0;
  margin-left: 0;
  top: 0;
  margin-top: 0;

}
.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  line-height: 35px;
  font-size: 1em;
  font-weight: $fontRegular;
  font-family: $fontFmainRegular!important;
}
.ui-datepicker .ui-datepicker-header{
  background-color: $white;
  border-color: transparent;
}
.ui-datepicker-prev:hover span,
.ui-datepicker-next:hover span{
  color: #3f67f7!important;
  font-family: $fontFmainRegular!important;
  font-weight: $fontRegular;

}
.ui-datepicker .ui-datepicker-next-hover{
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover{
  left: 2px;
}
.ui-widget-header .ui-state-hover{
  background-color: transparent!important;
  cursor: pointer;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover{
  border:transparent;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  display: block;
  top: 4px;
  width: 85px;
  height: 40px;
}

// end callendsar restyling


.loading-div {
  width: 100%;
  height: auto;
  min-height: 60px;
  background-color: $greylight1;
  margin-top: 1em;
  position: relative;
  &:before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 30%;
    top: -35px; /* Положение треугольника */
    border: 18px solid transparent; /* Прозрачные границы */
    border-bottom: 18px solid $greylight1; /* Добавляем треугольник */
  }
  .loading-text {
    $loading-text-fz: 0.75em;
    color: $text_mute;
    font-size: $loading-text-fz;
    margin: auto;
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    transform: translateY(calc(100% + #{$loading-text-fz}));
  }
}

.bottom-paginator {
  margin-top: 1em;
  font-weight: $fontRegular;
  font-family: $fontFmainRegular;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.paginator {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  li {
    width: 1.25em;
    a.active {
      color: $black;
    }

  }
}


